#communal{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    .position{
        position: fixed;
    }
    .position-top{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .position-center{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translate3d(0,50%,0);
    }
    .position-bottom{
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.btn{
    width: 100%;
    text-align:center;
    height: 1rem;
    line-height: 1rem;
    background: skyblue;
}