.putin {
  width: 100%;
  height: 100%;
  background: #fcfcfc;
}
.putin .header {
  width: 100%;
  height: 0.9rem;
  background: #191919 ;
  display: flex;
  flex-wrap: wrap;
}
.putin .header div:nth-of-type(1) {
  flex: 1;
  background-image: url(../../static/img/left.png);
  background-repeat: no-repeat;
  background-size: 0.3rem 0.3rem;
  background-position: center center;
}
.putin .header div:nth-of-type(2) {
  flex: 8;
}
.putin .header div:nth-of-type(2) img {
  display: block;
  width: 1.5rem;
  height: 0.6rem;
  margin: 0 auto;
  margin-top: 0.15rem;
}
.putin .header div:nth-of-type(3) {
  flex: 1;
}
.putin .content {
  width: 100%;
  font-size: 25px;
  text-align: center;
  margin-top: 0.5rem;
}
.putin .content div:nth-of-type(1) {
  height: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
}
.putin .content div:nth-of-type(2) {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 16px;
}
.putin .from {
  width: 100%;
  margin-top: 0.5rem;
}
.putin .from .answer {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0.3rem;
}
.putin .from .answer input {
  padding-left: 0.2rem;
  box-sizing: border-box;
  width: 100%;
  height: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 0.1rem;
  outline: none;
  box-shadow: none;
}
.putin .from .answer ::-webkit-input-placeholder {
  color: #9e9e9e;
}
.putin .from .selected {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
}
.putin .from .selected select {
  flex: 30%;
  margin-left: 5%;
  height: 0.7rem;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;
}
.putin .from .selected select:nth-of-type(1) {
  margin-left: 0%;
}
.putin .from .selected select option {
  height: 0.7rem;
  border: 1px solid #ccc;
}
.putin .throwin {
  display: block;
  height: 0.8rem;
  line-height: 0.8rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 0.2rem;
  border: none;
  outline: none;
  box-shadow: none;
  background: #ffcc33;
  color: #fff;
}
